<div class="">
  <div class="container">
    <form class="row mt-3 gx-3 gy-2 align-items-center justify-content-center">
      <div class="col-sm-6">
        <label class="visually-hidden" for="specificSizeInputName">Wish</label>
        <input
          type="text"
          name="new-wish-text"
          class="form-control"
          [(ngModel)]="newWisth"
        />
      </div>
      <div class="col-auto">
        <button
          type="submit"
          class="btn btn-primary"
          (click)="$event.preventDefault(); addNewWish()"
        >
          Add Wish
        </button>
      </div>
    </form>

    <div *ngIf="items.length === 0; then noItems; else showItems"></div>

    <ng-template #noItems>No data to display</ng-template>

    <ng-template #showItems>
      <ul *ngIf="items.length > 0" class="wish-list">
        <li *ngFor="let item of items; index as ii">
          <div class="form-check">
            <label for="" class="form-check-label">
              <input
                [checked]="item.isComplete"
                type="checkbox"
                class="checkbox"
                [attr.data-index]="ii"
                (click)="toggleItem(item)"
              />
              {{ item?.wishText }}
            </label>
          </div>
        </li>
      </ul>
    </ng-template>
  </div>
</div>
