<div class="">
  <div class="container">
    <div *ngIf="items.length === 0; then noItems; else showItems"></div>

    <ng-template #noItems>No data to display</ng-template>

    <ng-template #showItems>
      <ul *ngIf="items.length > 0" class="wish-list">
        <li *ngFor="let item of items; index as ii">
          <div class="form-check">
            <label for="" class="form-check-label">
              <input
                [checked]="item.isComplete"
                type="checkbox"
                class="checkbox"
                [attr.data-index]="ii"
                (click)="toggleItem(item)"
              />
              {{ item?.wishText }}
            </label>
          </div>
        </li>
      </ul>
    </ng-template>
  </div>
</div>
